

<button id="new_list"><p><%= link_to 'New List', new_list_path %></p></button>




  <% @lists.each do |list| %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><%= link_to list.name, list_path(list.id) %></p>
  </div>
      <% end %>
</div>
